
@{
    Layout = "~/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 ">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="item1">
                <div class="image">
                    <img src="~/uploads/0035350ban_phim_macbook_pro.198.146.jpg" />   
                </div>
                
                <h5>BÀN PHÍM MACBOOK</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="item1">
                <div class="image">
                    <img src="~/uploads/0035350ban_phim_macbook_pro.198.146.jpg" />
                </div>

                <h5>BÀN PHÍM MACBOOK</h5>
            </div>
        </div><div class="col-lg-3 col-md-3 col-sm-4">
    <div class="item1">
        <div class="image">
            <img src="~/uploads/0035350ban_phim_macbook_pro.198.146.jpg" />
        </div>

        <h5>BÀN PHÍM MACBOOK</h5>
    </div>
</div><div class="col-lg-3 col-md-3 col-sm-4">
    <div class="item1">
        <div class="image">
            <img src="~/uploads/0035350ban_phim_macbook_pro.198.146.jpg" />
        </div>

        <h5>BÀN PHÍM MACBOOK</h5>
    </div>
</div><div class="col-lg-3 col-md-3 col-sm-4">
    <div class="item1">
        <div class="image">
            <img src="~/uploads/0035350ban_phim_macbook_pro.198.146.jpg" />
        </div>

        <h5>BÀN PHÍM MACBOOK</h5>
    </div>
</div>


        
    </div>
</div>